// Color Variables

$primary_bg_clr: #202020;
$text_clr: #ffffff;
$text_dsc_clr: #847c7c;
$text_accent: #0047ff;

.hero-text {
  font-family: MADE OUTER "sans-serif";
  //   text-shadow: 4px 0 0.7rem rgb(0, 81, 255), -4px 0 0.7rem rgb(255, 0, 212);
  //   animation: shadow 5s infinite;

  //   @keyframes shadow {
  //     0% {
  //       text-shadow: 4px 0 0.7rem rgb(0, 81, 255), -4px 0 0.7rem rgb(255, 0, 212);
  //     }

  //     50% {
  //       text-shadow: -4px 0 0.7rem rgb(255, 0, 212), 4px 0 0.7rem rgb(0, 81, 255);
  //     }

  //     100% {
  //       text-shadow: 4px 0 0.7rem rgb(0, 81, 255), -4px 0 0.7rem rgb(255, 0, 212);
  //     }
  //   }
}
.hero-text-gr {
  //   font-family: MADE OUTER, sans-serif;
  font-family: MADE OUTER "sans-serif";
}

.hero-text-two {
  font-family: MADE OUTER, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 567px) {
    grid-template-columns: 1fr;
  }
}

.header {
  width: 100% !important;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(10, 10, 10, 0.034);
  display: flex;
  align-items: center;
  backdrop-filter: blur(30px);
  .wrapper {
    max-width: 1200px;
    margin: auto;
  }
}

.animation-bl {
  animation: animate 10s ease infinite 1s;
}
.circle {
  animation: circle 10s infinite;
}

// Micro Animations

@keyframes animate {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

// circle animatifon

@keyframes circle {
  0% {
    transform: translateY(0px) translateX(0) rotate(0);
  }

  50% {
    transform: translateX(-50px) translateY(50px) rotate(45deg);
  }

  100% {
    transform: translateY(0px) translateX(0) rotate(0);
  }
}

.toggle {
  opacity: 0;
  transition: 300ms ease-in;
}
